@import "tailwindcss";

@theme {
  --color-cream: #FFEFCD;
  --color-muted: #A58E74;
  --color-muted-hover: #a18955;
  --color-accent: #E09132;
  --color-surface: #424530;
  --color-line: #5b5e45;
}

@layer base {
  body {
    @apply bg-surface;
    font-family: 'Poppins', sans-serif;
  }
}

@layer components {
  .section-top {
    @apply pt-25 md:pt-32;
  }

  .nav-link {
    @apply hover:text-muted transition;
  }

  .back-link {
    @apply flex items-center gap-2 px-4 sm:px-6 lg:px-16 py-3 text-cream hover:text-muted transition;
  }

  .img-hover-zoom {
    @apply object-cover transition-transform duration-300 ease-in-out hover:scale-105;
  }

  .card {
    @apply border border-line rounded-lg p-6;
  }

  .btn-primary {
    @apply px-5 py-2 text-lg border rounded-lg bg-accent text-surface
      hover:bg-surface hover:text-cream font-medium cursor-pointer;
  }

  .btn-secondary {
    @apply px-5 py-2 text-lg border border-line rounded-lg bg-transparent text-cream
      hover:border-cream cursor-pointer;
  }

  .input-field {
    @apply border border-line px-3 py-2 rounded-lg text-cream w-full
      focus:outline-none focus:ring-0 focus:border-cream;
  }

  .social-icon {
    @apply p-3 rounded-full bg-accent cursor-pointer inline-flex items-center justify-center;
  }
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
